/* ============================================================

Startgate
Tom de Bruin

============================================================ */
@media print {
  /* line 3, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  /* line 15, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  /* line 21, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  p {
    orphans: 3;
    widows: 3; }

  /* line 26, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  pre, blockquote {
    border: 1px solid #cccccc;
    page-break-inside: avoid; }

  /* line 31, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 34, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  a, a:visited {
    text-decoration: underline; }

  /* line 37, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 41, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 44, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  /* line 49, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  thead {
    display: table-header-group; }

  /* line 52, /Users/deadlyhifi/Sites/github/startgate/inc/scss/mq_print.scss */
  tr {
    page-break-inside: avoid; } }
