/* line 206, ../scss/component_mixins.scss */
.clearfix {
  *zoom: 1; }
  /* line 198, ../scss/component_mixins.scss */
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  /* line 202, ../scss/component_mixins.scss */
  .clearfix:after {
    clear: both; }

/*
 * Items that can be not linked in the final CSS file.
 */
/* line 13, ../scss/styleguide.scss */
.gridbutton {
  position: fixed;
  top: 20px;
  left: 20px; }

/* line 20, ../scss/styleguide.scss */
.swatch {
  margin: 0 0 1.5em 0;
  padding: 0; }

/* line 24, ../scss/styleguide.scss */
.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%; }

/* line 30, ../scss/styleguide.scss */
.swatch-row-one {
  background-color: black; }

/* line 33, ../scss/styleguide.scss */
.swatch-row-two {
  background-color: white; }

/* line 36, ../scss/styleguide.scss */
.swatch-row span {
  display: block;
  float: left;
  width: 25%;
  height: 40px; }

/* line 43, ../scss/styleguide.scss */
.swatch-base span:nth-child(1) {
  background-color: rgba(45, 53, 62, 0.9); }

/* line 46, ../scss/styleguide.scss */
.swatch-base span:nth-child(2) {
  background-color: rgba(45, 53, 62, 0.8); }

/* line 49, ../scss/styleguide.scss */
.swatch-base span:nth-child(3) {
  background-color: rgba(45, 53, 62, 0.7); }

/* line 52, ../scss/styleguide.scss */
.swatch-base span:nth-child(4) {
  background-color: rgba(45, 53, 62, 0.6); }

/* line 56, ../scss/styleguide.scss */
.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9); }

/* line 59, ../scss/styleguide.scss */
.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8); }

/* line 62, ../scss/styleguide.scss */
.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7); }

/* line 65, ../scss/styleguide.scss */
.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6); }

/* line 69, ../scss/styleguide.scss */
.swatch-error span:nth-child(1) {
  background-color: rgba(218, 79, 73, 0.9); }

/* line 72, ../scss/styleguide.scss */
.swatch-error span:nth-child(2) {
  background-color: rgba(218, 79, 73, 0.8); }

/* line 75, ../scss/styleguide.scss */
.swatch-error span:nth-child(3) {
  background-color: rgba(218, 79, 73, 0.7); }

/* line 78, ../scss/styleguide.scss */
.swatch-error span:nth-child(4) {
  background-color: rgba(218, 79, 73, 0.6); }

/* line 82, ../scss/styleguide.scss */
.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9); }

/* line 85, ../scss/styleguide.scss */
.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8); }

/* line 88, ../scss/styleguide.scss */
.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7); }

/* line 91, ../scss/styleguide.scss */
.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6); }

/* line 95, ../scss/styleguide.scss */
.swatch-success span:nth-child(1) {
  background-color: rgba(91, 183, 91, 0.9); }

/* line 98, ../scss/styleguide.scss */
.swatch-success span:nth-child(2) {
  background-color: rgba(91, 183, 91, 0.8); }

/* line 101, ../scss/styleguide.scss */
.swatch-success span:nth-child(3) {
  background-color: rgba(91, 183, 91, 0.7); }

/* line 104, ../scss/styleguide.scss */
.swatch-success span:nth-child(4) {
  background-color: rgba(91, 183, 91, 0.6); }

/* line 108, ../scss/styleguide.scss */
.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 50, 0.9); }

/* line 111, ../scss/styleguide.scss */
.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 50, 0.8); }

/* line 114, ../scss/styleguide.scss */
.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 50, 0.7); }

/* line 117, ../scss/styleguide.scss */
.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 50, 0.6); }
