// Layout Rules
// http://smacss.com/book/type-layout

[role="banner"], [role="contentinfo"] {
	background-color: $lightergrey;
}

section { @include clearfix; }

.inner, .content {
    @include clearfix;
    max-width: $max-width;
    margin: auto;
    padding: .5em;
}

article {
	border: solid #CCC;
	border-width: 1px 0 0;
}