// Texture

// ALERT ====================================================

[class*=alert] {
	margin-bottom: $baselineheight;
	padding: 8px 35px 8px 14px;
	background-color: $alertcolor;
	border: $alertborderwidth $alertborderstyle $alertbordercolor;
	border-radius: 2px;
	font-family: $basefont;
	@include font-size(14);
	color: $alerttext;

	.alert-heading {
		color: inherit;
	}

	.close {
		position: relative;
		top: -2px;
		right: -21px;
		float: right;
		@include font-size(21);
		font-weight: bold;
		line-height: 18px;
		color: inherit;
	}
}

.alert-success {
	background-color: $alertsuccesscolor;
	border-color: $alertsuccessborder;
	color: $alertsuccesstext;
}

.alert-warning {
	background-color: $alertwarningcolor;
	border-color: $alertwarningborder;
	color: $alertwarningtext;
}

.alert-error {
	background-color: $alerterrorcolor;
	border-color: $alerterrorborder;
	color: $alerterrortext;
}

.alert-inverse {
	background-color: $alertinversecolor;
	border-color: $alertinverseborder;
	color: $alertinversetext;
}

// alert block

.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;

	h1, h2, h3, h4 {
		margin-bottom: $baselineheight / 8;
		font-size: inherit;
		font-weight: bold;
	}

	> p,
	> ul {
		margin-bottom: 0;
	}

	p + p {
		margin-top: 5px;
	}
}

// BADGES ====================================================

.label { border-radius: 2px; }
.badge { border-radius: 9px; }

.label,
.badge {
	padding: 1px 9px 2px;
	@include font-size(12);
	font-weight: bold;
	white-space: nowrap;
	color: $badgecolor;
	background-color: $badgebackground;
	@include transition(background-color .2s 0 linear);

	&:hover {
		color: $badgecolor;
		text-decoration: none;
		cursor: pointer; }
	}

	.error {
		background-color: $errorcolor;
		color: $white;

		&:hover {
			background-color: darken($errorcolor, 20%);
			color: $white;
		}
	}

	.warning {
		background-color: $warningcolor;
		color: $white;

		&:hover {
			background-color: darken($warningcolor, 20%);
			color: $white;
		}
	}

	.success {
		background-color: $successcolor;
		color: $white;

		&:hover {
			background-color: darken($successcolor, 20%);
			color: $white;
		}
	}

	.info {
		background-color: $infocolor;
		color: darken($infocolor, 50%);

		&:hover {
			background-color: darken($infocolor, 20%);
		}
	}

	.inverse {
		background-color: $inverscolor;
		color: $white;

		&:hover {
			background-color: darken($inverscolor, 20%);
			color: $white;
		}
	}

[class*=btn] .badge,
[class*=btn] .label {
	@include font-size(8);
	margin-left: 6px;
	vertical-align: top;
}

/* Buttons =================================================== */

a[class*=btn] { text-decoration: none; }

[class*=btn] {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	padding: 6px 11px 6px;
	margin-bottom: 0;
	font-family: $basefont;
	@include font-size(12);
	font-weight: bold;
	line-height: $baselineheight;
	color: $buttoncolor;
	text-align: center;
	vertical-align: middle;
	background-color: $buttonbackground;
	@include linear-gradient(50%, $white, $lightergrey);
	border: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
	border-bottom-color: $buttonbottombordercolor;
	border-radius: 4px;
	cursor: pointer;
	*margin-left: .3em;

	&:visited,
	&:hover {
		color: $buttoncolor;
		text-decoration: none;
	}

	&:first-child { *margin-left: 0; }
}

input[type="submit"][class*=btn]:hover {
	border-color: $buttonbordercolor; }

.btn-block {
	display: block;
	width: 100%;
}

// disabled
.btn-disabled {
	opacity: .5;
	cursor: default;
}

// error
.btn-error {
	@include linear-gradient(50%, $errorcolor, darken($errorcolor, 10%));
	border-color: darken($errorcolor, 15%);
	border-bottom-color: darken($errorcolor, 20%);
	color: $white;

	&:visited,
	&:hover {
		color: $white; }
}

// info
.btn-info {
	@include linear-gradient(50%, $infocolor, darken($infocolor, 10%));
	border-color: darken($infocolor, 15%);
	border-bottom-color: darken($infocolor, 20%);
	color: darken($infocolor, 50%);

	&:visited,
	&:hover {
		color: darken($infocolor, 50%); }
}

// inverse
.btn-inverse {
	@include linear-gradient(50%, $inverscolor, darken($inverscolor, 10%));
	border-color: darken($inverscolor, 15%);
	border-bottom-color: darken($inverscolor, 20%);
	color: $white;

	&:visited,
	&:hover {
		color: $white; }
}

// primary
.btn-primary {
	@include linear-gradient(50%, $basecolor, darken($basecolor, 10%));
	border-color: darken($basecolor, 15%);
	border-bottom-color: darken($basecolor, 20%);
	color: $white;

	&:visited,
	&:hover {
		color: $white; }
}

// success
.btn-success {
	@include linear-gradient(50%, $successcolor, darken($successcolor, 10%));
	border-color: darken($successcolor, 15%);
	border-bottom-color: darken($successcolor, 20%);
}

// warning
.btn-warning {
	@include linear-gradient(50%, $warningcolor, darken($warningcolor, 10%));
	border-color: darken($warningcolor, 15%);
	border-bottom-color: darken($warningcolor, 20%);
}

// sizes
.btn-xlarge {
	padding: 11px 22px;
	@include font-size(21);
}

//?
.btn-large {
	*padding-top: 7px;
	*padding-bottom: 7px;
}
.btn-large {
	padding: 11px 22px;
	@include font-size(14);
}

.btn-small {
	padding: 6px 10px;
	@include font-size(11);
}

.btn-mini {
	padding: 3px 5px;
	@include font-size(9);
}

// button groups
.button-group {
	position: relative;
	*zoom: 1;
	*margin-left: .3em;
	margin-bottom: $baseline;
	@include clearfix;
}

.button-group [class*=btn] {
	position: relative;
	float: left;
	margin-left: -3px;
	border-radius: 0;
}

.button-group [class*=btn]:first-child {
	margin-left: 0;
	border-radius: 5px 0 0 5px;
}

.button-group [class*=btn]:last-child {
	border-radius: 0 5px 5px 0;
}

.button-toolbar {
	clear: both;
	margin-top: $baselineheight / 2;
	margin-bottom: $baselineheight / 2;
}

.button-toolbar .button-group {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}