@-webkit-viewport {
	width: device-width; }

@-moz-viewport {
	width: device-width; }

@-ms-viewport {
	width: device-width; }

@-o-viewport {
	width: device-width; }

@viewport {
	width: device-width; }

* {
	@include box-sizing;
}

html {
	background: $bodycolor;
	font-size: 62.5%;
//	-webkit-overflow-scrolling: touch; // disables scroll to top on ios devices.
	-webkit-tap-highlight-color: lighten($basecolor, 75%);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
//	@include clearfix;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	font-family: $basefont;
	@include font-size();
	line-height: $baselineheight;
	color: $textcolor;
}
