/* grid column size variables */
$grid-column: 40px;
$grid-gutter: 20px;

/* convert pixels to ems - defaults to 16px base */
@function em($px, $base: 16px) {
  @return ($px / $base) * 1em;
}


.columns {
  display: block;
  padding: 0;
  margin: 0 -0.5 * em($grid-gutter);
  text-align: left;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  text-rendering: optimizespeed;
}

/* Note - this class uses Compass includes */
.grid-cell {
  width: 100%;
  @include inline-block;
  @include box-sizing(border-box);
  margin: 0;
  padding: 0 0.5 * em($grid-gutter);
  vertical-align: top;
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

/* find width of columns */
@function fixed($col) {
  @return $col * em($grid-column + $grid-gutter)
}

/* create mq to fit columns */
@mixin breakpoint($min) {
  @media (min-width: fixed($min) + em($grid-gutter)) {

    /* create a fixed width centered layout */

    [role="banner"], .content, article, [role="contentinfo"] {
      width: fixed($min) - em($grid-gutter);
      margin-left: auto; margin-right: auto;
    }

    /* css gradient overlay to help visualize columns */
    /* Note - this class uses Compass includes */
    body.showgrid::after {
      content: ''; position: fixed; top: 0; bottom: 0; pointer-events: none; left: 50%;
      width: fixed($min) + em($grid-gutter); margin-left: fixed($min) / -2 - (em($grid-gutter)/2);
      @include background(linear-gradient(left, transparent $grid-gutter, transparentize(red, .8) $grid-gutter, transparentize(red, .8) $grid-gutter + $grid-column));
      @include background-size($grid-gutter + $grid-column);
    }

    /* sass content block variable */
    @content

  }
}

/* create 5 column fixed layout */
@include breakpoint(6) {}
@include breakpoint(8) {}

/* create 8 column layout with sidebar */
@include breakpoint(14) {
  .main { width: fixed(8); }
  .sidebar { width: fixed(6); }
}

/* create 12 column layout with sidebar */
@include breakpoint(16) {
  .main { width: fixed(10); }
  .sidebar { width: fixed(6); }
}

/* create 12 column layout with sidebar */
@include breakpoint(20) {
  .main { width: fixed(12); }
  .sidebar { width: fixed(8); }
}

/* create 12 column layout with sidebar */
@include breakpoint(28) {
  .main { width: fixed(18); }
  .sidebar { width: fixed(10); }
}
