// put all your grid breakpoints in here. No style.
// http://neat.bourbon.io/examples/
// Bourbon NEAT uses a desktop down approach

/*
e.g.
.inner,
nav,
section,
.grid {
	@include outer-container;
}

section {
	@include media($grid-desktop) {
		margin: 0 $baseline / 4;
	}
}

article {
	@include span-columns(8);
	border: 1px solid $lightergrey;

	@include media($grid-mobile) {
	  @include span-columns(6);
	}
}
aside {
	@include span-columns(4);

	@include media($grid-mobile) {
		@include span-columns(6);
	}
}

*/

.inner,
.wrapper {
	@include outer-container;
}

// add padding on narrow screens.
.inner {
	@include media($grid-desktop) {
		padding: 0 $baseline / 4;
	}
}

header[role="banner"] {
	hgroup {
		@include span-columns(8);

		@include media($grid-tablet) {
			@include span-columns(8);
		}

	}
	.sundry {
		@include span-columns(4);

		@include media($grid-tablet) {
			@include span-columns(8);
		}

		li {
			@include span-columns(1.333 of 4);
		}

	}
}

.wrapper {

	section {
		@include row();

		.maincol {
			@include span-columns(8);

			@include media($grid-desktop) {
				padding: 0 $baseline / 4;
			}
			@include media($grid-tablet) {
				@include span-columns(8);
			}
		}
		aside {
			@include span-columns(4);

			@include media($grid-tablet) {
				@include span-columns(8);
			}
		}
	}
}
