header[role="banner"] {

	hgroup {
		h1 {
			span {
				display: inline;
			}
		}
		.phone {
			p {
			}
		}
	}
	nav {
	}
}

.fouramfriday {
	margin-top: 100px;
}

section.promote {
	.inner {
		padding: $baseline *1.5 $baseline *4;
	}
}
