header[role="banner"] {

	hgroup {
		text-align: left;
	}
	.phone {
		text-align: left;
	}
	nav {
	}
}

section.promote {

	.maincol {
		h3 {
		}
		p {
		}
	}

	aside.imgblock {
		img {
		}
	}
}

// main columns
.main {

	.maincol {
	}

	aside.services {
		border-width: 0 0 0 1px;
	}
}
