header[role="banner"] {
	padding: $baseline /2 0;
	position: fixed;
	top: 0;
	width: 100%;

	hgroup {
		text-align: center;
		h1.title {
			@include font-size(25);
			margin-bottom: $baseline /4;

			span {
				display: block;
				font-style: italic;
			}
		}

		.phone {
			font-weight: bold;
			p {
				@include font-size(18);
				margin-bottom: 0;
			}
		}
	}
	nav {
		margin-top: $baseline;
		ul {
			list-style: none;
			padding: 0;

			li {
				float: left;
				text-align: center;
				border: 1px solid $bordercolor;
				border-radius: 4px;
				box-shadow: inset 0 0 2px 1px $lightgrey;
				transition: all 0.2s linear;

				&:hover {
					box-shadow: inset 0 1px 4px 1px $lightgrey;
					transition: all 0.2s linear;
				}

				a {
					display: block;
					padding: 10px;
					text-decoration: none;
					transition: all 0.2s linear;

					&:hover {
						@include transform(translateY(1px));
						transition: all 0.2s linear;
					}
				}
			}
		}
	}
}

.fouramfriday {
	margin-top: 180px;
	position: absolute;
	width: 100%;
	z-index: 1;
	@include transition (margin 0.6s ease-in-out);
	border-top: 1px solid $lightgrey;
	background-color: $white;
}

section.promote {
	margin-bottom: $baseline;
	color: $white;
	background: $white url('../img/banner.jpg') no-repeat top center;
	text-shadow: 1px 1px 1px $black;

	h2 {
		color: $white;
		margin-bottom: $baseline /3;

		span {
			color: $white;
		}
	}
	p {
		text-align: justify;
		font-size: 1.2em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		color: $white;
	}

	.inner {
		padding: $baseline /2;
	}

}

// main columns
.main {

	.maincol {
		p {
			padding-left: $baseline /2;
		}

		section.gallery {
			figure {
			}
		}
	}

	aside.services {
		padding: $baseline /2;
		border-top-width: 1px;
		border-color: $bordercolor;
		border-style: solid;
	}
}

footer[role="contentinfo"] {
	border-top: 1px solid darken($lightergrey, 5%);
	margin-top: $baseline;
	padding-top: $baseline;
	color: $white;
	background: $white url('../img/banner.jpg') no-repeat bottom center;
	text-shadow: 1px 1px 1px $black;

	a {
		color: $white;
	}
}